<html>

  <div>
    <mat-card fxFlex="60" class="card" fxFlex.xs="100">
<!--   
      <div>
        <mat-card-title class="fundooregister" fxLayout="row" fxLayoutAlign="start center">
          <span class="f">F</span>
          <span class="u">u</span>
          <span class="n">n</span>
          <span class="d">d</span>
          <span class="o">o</span>
          <span class="oo">o</span>
        </mat-card-title>
      </div> -->
      <!-- <div> -->
        <!-- <mat-card-title class="signup" fxLayout="row" fxLayoutAlign="center center">Sign In</mat-card-title> -->
        <!-- <mat-card-subtitle class="register" div fxLayout="row" fxLayoutAlign="start center"> Create your Fundoo Account</mat-card-subtitle>
      </div> -->
    </mat-card>
    </div>
</html>