.pinned{
    margin: 234px;
    margin-bottom: -2%;
    font-size: 12px;
    color: #5f6368;
    margin-top: 1%;
    position: absolute;
}
.others{
    margin: 0px 234px;
    font-size: 12px;
    color: #5f6368;
    margin-top: 4%;
    margin-bottom: -2%;
    // position: absolute;
}