<!-- <mat-toolbar class="tool">
  Fundoo
  
  <mat-icon matSuffix (click)="drawer.toggle()">
    menu
  </mat-icon>

</mat-toolbar>

<mat-sidenav-container>
    <mat-drawer-container > -->
<!-- <mat-drawer #drawer [mode]="mode.value">I'm a drawer</mat-drawer>
        <mat-drawer-content>
         
            <mat-select #mode value="side">

            </mat-select>
            <mat-select #hasBackdrop>
              
            </mat-select>
        

        </mat-drawer-content> -->
<!-- <mat-drawer #drawer class="example-sidenav" mode="side"> -->
<!-- <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p> -->
<!-- <button (click)="showFiller = !showFiller" mat-raised-button>
              Toggle extra text
            </button>
          </mat-drawer>
        
          <div class="example-sidenav-content">
            <p>hiiiiiiiiiiiiiiiiiiii</p>
          </div>
      </mat-drawer-container>
  </mat-sidenav-container> -->


<div>
  <mat-toolbar class="example-toolbar">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon matTo oltip="Main menu">menu</mat-icon>
    </button>
    <div fxFlex="2">
      <div fxFlex="10" fxLayout="row" fxFlex.gt="500px" [style.fontSize.px]="1" matTooltip="Welcome to Fundoo Notes">

        <img id="google-keep-logo" src="../../../assets/google-keep-2-569459.png" style="width:40px;height:40px" alt=""
          aria-hidden="true" />
        <h3 class="example-app-name" fxLayoutAlign="center center">
          <mat-card-title class="fundoo" fxLayout="row" fxLayoutAlign="end center">
            <span>Fundoo   </span>

          </mat-card-title>
        </h3>
      </div>
    </div>

    <div fxFlex="74" fxLayoutAlign="end start">
      <mat-form-field appearance="outline" fxHide.xs [style.fontSize.px]="2" class="search">
        <button mat-icon-button class="search-button">
          <mat-icon matTooltip="Search">search</mat-icon>
        </button>

        <input fxFlex="90" [(ngModel)]="value" (keyup)="onKeyUp($event)" matInput placeholder="Search"
          [style.fontSize.px]="16" class="search-window" autocomplete="off" />
      </mat-form-field>
    </div>
    <div fxFlex="25" class="settingbtn">
        <button mat-icon-button color="basic" id="refresh" matTooltip="Refresh">
          <mat-icon>refresh</mat-icon>
        </button> 

        <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        colour="basic"
        matTooltip="settings"
      >
        <mat-icon
          ><img src="../../../assets/outline-settings-24px.svg"
        /></mat-icon>
      </button>

        <button mat-icon-button color="basic" matTooltip="Apps">
            <mat-icon
              ><img src="../../../assets/outline-apps-24px.svg"
            /></mat-icon>
          </button>
          
        </div>
  </mat-toolbar>