
  <button  matTooltip="Reminde me"  mat-icon-button color="basic">
    <div class="reminder">
      <img src="../../../assets/reminder1.svg" />
    </div>
  </button>


  <button  matTooltip="Collaborator" mat-icon-button color="basic">
    <div class="reminder">
      <img src="../../../assets/user.svg" />
    </div>
  </button>

  <button  matTooltip="Change color" mat-icon-button color="basic">
    <div class="reminder">
      <img src="../../../assets/color.svg" />
    </div>
  </button>
 <button  matTooltip="Add image" mat-icon-button color="basic">
    <div class="reminder">
      <img src="../../../assets/image.svg" />
    </div>
  </button>
  <button  matTooltip="Archive" mat-icon-button color="basic">
    <div class="reminder">
      <img src="../../../assets/archive.svg" />
    </div>
  </button>
  <button  matTooltip="More" mat-icon-button color="basic">
    <div class="reminder">
      <img src="../../../assets/more.svg" />
    </div>
  </button>
 
  
