<div>
  <button class="reminder" matTooltip="Reminde me" mat-icon-button color="basic">
    <img  src="../../../assets/reminder1.svg" />
  </button>
  
  
  <button class="reminder" matTooltip="Collaborator" mat-icon-button color="basic">
  
    <img  src="../../../assets/user.svg" />
  
  </button>
  
  <button class="reminder" matTooltip="Change color" mat-icon-button color="basic">
  
    <img  src="../../../assets/color.svg" />
  
  </button>
  <button class="reminder" matTooltip="Add image" mat-icon-button color="basic">
  
    <img  src="../../../assets/image.svg" />
  
  </button>
  <button class="reminder" matTooltip="Archive" mat-icon-button color="basic">
  
    <img  src="../../../assets/archive.svg" />
  
  </button>
  <button class="reminder" matTooltip="More" mat-icon-button color="basic">
  
    <img src="../../../assets/more.svg" />
  
  </button>
</div>