



<!-- <div>
<div style="margin:20px">
<div  fxFlex="100" fxLayout="row" fxLayoutAlign="space-between start" class="main">
    <div *ngIf="data.cond!='trash'"><input matInput [(ngModel)]="data.array.title" placeholder="add title here"></div>
    <div *ngIf="data.cond=='trash'" (click)='openSnackBar()'>{{hello}}</div>
</div>
</div>




<div style="margin:20px" >
<div fxLayout="row" fxLayoutAlign="space-between start">


    <div contenteditable="true">description</div>

</div>
</div>
<div>
    <app-iconlist></app-iconlist>
</div>
<button fxLayoutAlign='end end' mat-button [mat-dialog-close]="data" cdkFocusInitial >close</button>
</div> -->


<div [style.backgroundColor]=data.array.color fxFlex='100' class="main">

    <div style="margin: 20px">
      <div fxFlex="100" fxLayoutAlign='space-between start' fxLayout='row'>
          <div ><input class="input" matInput [(ngModel)]="data.array.title" placeholder="add title here"></div>
          <!-- <div >{{data.array.title}}</div> -->
      <div >
          <div class="barpin"  >
            <img src="../../../assets/pinbar.svg" />
          </div>
          <div class="barpin">
            <!-- <img src="../../../assets/pinbar.svg" /> -->
          </div>
        </div>
      </div>
    </div>
  
    <div style="margin:20px">
      <!-- ....disc...... -->
  
      <div ><input class='desc' matInput [(ngModel)]="data.array.description" placeholder="Add description"></div>
      <!-- <div (click)='openSnackBar()'></div> -->
  
      <!-- ..... -->
      
        <!-- <app-iconlist></app-iconlist> -->
  
        <div fxLayoutAlign="start end" >
          <div >
            <!-- <button mat-icon-button [matMenuTriggerFor]="menu" colour="basic" matTooltip="more">
              <img id="img" src="../../../assets/more.svg" />
            </button> -->
            <mat-menu #menu="matMenu">
              <button mat-menu-item >Delete Forever</button>
              <button mat-menu-item >Restore</button>
            </mat-menu>
          </div>
  
          <!-- reminder -->
  
      <!-- <div  fxLayout="row" fxLayout="row wrap">
        <mat-chip-list class="chip">
  
          <div *ngIf="(todaydate | date: 'shortDate') == (data.array.reminder | date: 'shortDate') && (array.reminder!='')">
            <mat-chip >Today {{array.reminder | date:'shortTime'}}
              <mat-icon matChipRemove (click)="removeReminder(array)">cancel</mat-icon>
            </mat-chip>
          </div>
  
          <div *ngIf="(tomorrow | date: 'shortDate') == (data.array.reminder | date: 'shortDate') && (array.reminder!='')">
              <mat-chip>Tomorrow {{array.reminder | date:'shortTime'}}
                <mat-icon matChipRemove (click)="removeReminder(array)">cancel</mat-icon>
              </mat-chip>
            </div>
  
            <div *ngIf="(tomorrow | date: 'shortDate') != (data.array.reminder | date: 'shortDate') && (todaydate | date: 'shortDate') != (array.reminder | date: 'shortDate') && (array.reminder!='') ">
                <mat-chip>{{array.reminder | date:'medium'}}
                  <mat-icon matChipRemove (click)="removeReminder(array)">cancel</mat-icon>
                </mat-chip>
              </div>
  
        </mat-chip-list>
    </div> -->
  
  <!-- icon -->
          <div fxFlex='100'>
            <app-iconlist [card]='data.array'></app-iconlist>
          </div>
  
          <button fxLayoutAlign='end end' mat-button [mat-dialog-close]="data" cdkFocusInitial >close</button>
        </div>
      </div>
  
  </div>